<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediaPlay</title>
</head>
<body>
    <h1>视频文件播放测试</h1>
    <video width="320" height="240" controls>
     <source src="/static/media_play/demo.mp4" type="video/mp4">
     您的浏览器不支持Video标签。
    </video>
    <h1>音频文件播放测试</h1>
    <audio controls>
     <source src="/static/media_play/demo.mp3" type="audio/mpeg">
     您的浏览器不支持Video标签。
    </audio>
    <h1>视频文件播放测试(流式)</h1>
    <video width="320" height="240" controls>
     <source src="/media_play/play?name=demo.mp4" type="video/mp4">
     您的浏览器不支持Video标签。
    </video>

</body>
</html>